.container {
  background-image: url('../../../assets/images/bg-triangle.svg');
  height: 17em;
  width: 20em;
}

.paper {
  background-color: white;
  border-radius: 1em;
  padding: 0.75em;
  border: solid;
  border-width: 1em;
  border-color: blue;
  position: relative;
  left: 1em;
  bottom: 3em;
}

.scissors {
  background-color: white;
  border-radius: 1em;
  padding: 0.75em;
  border: solid;
  border-width: 1em;
  border-color: yellow;
  position: relative;
  top: 13em;
}
.rock {
  background-color: white;

  border-radius: 1em;
  padding: 0.75em;
  border: solid;
  border-width: 1em;
  border-color: red;
  position: relative;
  right: 1em;
  bottom: 3em;
}
.rock:hover {
  cursor: pointer;
}
.scissors:hover {
  cursor: pointer;
}
.paper:hover {
  cursor: pointer;
}
